@charset "UTF-8";

$wallpaper: url('../../public/_img/shelfbook.jpg');
$burgundy: #600;
$white:  hsl(0, 0%, 100%);
$grey-deep: #21211F;
$grey-smooth: hsl(0, 0%, 25%);
$translucid-grey: hsla(60, 3%, 13%, 0.8);
$framed-burgundy: 4px solid $burgundy;
$shadown-frame: 0px 0px 15px #000;
$radius-largest: 20px;

// NOVOS VALORES GLOBAIS
// Geral
$box-background-color: $grey-deep;
$footer-background-color: $grey-deep;
$footer-padding: 1.5rem 1.5rem 2rem;
$navbar-background-color: $grey-deep;
$navbar-item-hover-background-color: $burgundy;
$dropdown-item-hover-background-color: $burgundy;
$menu-item-color: $white;
$menu-item-hover-background-color: $burgundy;
$menu-item-active-background-color: $burgundy;
$menu-item-hover-color: $white;
$card-background-color: $burgundy;
$card-color: $white;
$mobile: 767px;
$tablet: 768px;

// Tabelas
$table-head-background-color: $burgundy;
$table-foot-background-color: $burgundy;

// Pagination
$pagination-color: $white;
$pagination-hover-color: $white;
$pagination-current-background-color: $burgundy;
$pagination-current-border-color: $burgundy;

// VALORES AUXILIARES
$zero: 0;
$webkit-fill: -webkit-fill-available;

@import "rbx/index.sass";
@import "react-toastify/dist/ReactToastify.min.css";



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
body { 
    background-image: $wallpaper; 
    background-size: 100%; 
}
a:hover {
    .underline-hover {
        text-decoration: underline;
        color: #fff;
    }
}
.file-label {
    width: 100%;
}
span.file-name {
    width: inherit;
    max-width: 100%;
}

#login {
    margin-top: 4.5rem;
}

.icon { 
    margin: .5rem, 3rem;
}
.menu-logo { 
    margin: .5rem 3rem;
}
.index-logo { 
    width: 16rem;
}
.cart-icon {
    width: auto;
    padding: 0 .5rem;
}
.cart-icon > i {
    font-size: 1.25rem;
}
.cart-notification {
    position: absolute;
    right: .5rem;
    bottom: .62rem;
    width: 1.5rem;
    height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: #d83b01;
}

.section {
    margin: 4.5rem 0;
}
.footer { 
    bottom: $zero;
    width: $webkit-fill;
}

.title-footer {
    margin: 1rem 0;
}

.border-burgundy {
    border: $framed-burgundy;
    border-radius: $radius-largest;
    box-shadow: $shadown-frame;
}
.border-top-burgundy {
    border-top: $framed-burgundy;
    box-shadow: $shadown-frame;
}
.border-bottom-burgundy {
    border-bottom: $framed-burgundy;
    box-shadow: $shadown-frame;
}
.translucid-grey { 
    background: $translucid-grey;
}

.navbar-burger > span { 
    pointer-events: none;
}
.navbar-right {
    display: flex;
    align-items: flex-end;
    padding: 0 3rem;
}
.navbar-item, .navbar-link {
    padding: 1.5rem 1rem;
}
.home {
    display: inline-flex;
    max-width: 100vw;
}
.aside-list {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.button > p {
    pointer-events: none;
}
li.button {
    background-color: transparent;
    border: 0px;
    justify-content: start;
}
    li.button:hover {
        background-color: $burgundy;
    }
    li.button.selected {
        background-color: $burgundy;
    }

.default-width {
    width: 80vw;
}
.half-width {
    width: 50vw;
}
.min-width {
    width: min-content;
}
.max-width {
    width: 100%;
}

.padding-wrapper {
    padding: 1.5rem;
}
.padding-title {
    padding: 1rem;
}
.padding-line-min {
    padding: 0 .5rem;
}
.padding-line {
    padding: 0 1rem;
}

.full-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-content { 
    display: flex;
    align-items: center;
    justify-content: center; 
}
.space-between { 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.space-around { 
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-top {
    display: flex;
    align-items: flex-start;
}
.align-right {
    display: flex;
    align-items: flex-end;
}
.scratched {
    text-decoration: line-through;
}

.cart-list-container {
    display: grid;
    flex-direction: column;
    row-gap: 2rem;
}
.wrapper-description {
    position: relative;
    height: 6rem;
    overflow: hidden;
}
.preview-description::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: .25rem;
    background-color: $burgundy;
    color: white;
    text-align: right;
    padding: 0 .5rem;
}
.toast-message{
    background-color: var(--toastify-color-info);
    color: $white;
}

.board {
    width: 100%;
    background-color: $burgundy;
    border-radius: .25rem;
}
.board-section {
    width: 100%;
    padding: 1.5rem;
}

.showcase-image { 
    max-height: 15rem;
}

.card-columns {
    display: grid;
    grid-template-columns: repeat(4, 18rem);
    justify-content: center;
}
.box-card {
    max-width: 18rem;
    margin: auto;
}

.card-size {  
    width: 18rem; 
    min-height: 36.5rem;
    border-radius: .25rem;
}
.card-imagem-size {
    width: 11rem;
    height: 15rem;
}
.card-header-size { 
    min-height: 5.5rem; 
}

.placeholder-image {
    width: 100%;
    min-height: 18.5rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.placeholder-item {
    width: 100%;
    min-height: 1.5rem;
    margin: .5rem 0;
}
.placeholder-header-size { 
    min-height: 6rem; 
}
.placeholder-color {
    position: relative;
    background-color: #400;
    overflow: hidden;
}
.placeholder-color::before {
    content: '';
    position: absolute;
    width: 100%;
	height: 110%;
    background-color: #fff;
    transform: translateX(-50%);
    animation: slide 1s infinite;
    background: linear-gradient(
        to right, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.2) 50%,
        rgba(128,186,232,0) 99%,
        rgba(125,185,232,0) 100%
        );
}

div.tile.is-child.box.is-clickable {
    border: 1px solid $grey-deep;
}
span.is-button-home {
    color: $burgundy;
	font-size: 26pt;
	font-family: Candara;
	font-weight: bold;
    text-shadow: none;
}
div.tile.is-child.box.is-clickable:hover {
    border: 1px solid $burgundy;
    box-shadow: 0px 0px 15px #F00;
    span.is-button-home {
        text-shadow: 0px 0px 5px #F00;
    }
}

thead, tfoot {
    tr > th {
        color: $white !important;
    }
}

.breakpoint-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1464px) {
    .home {
        display: block;
    }
    .breakpoint-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .aside-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1160px) {
    .card-columns {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    .navbar-right {
        justify-content: center;
    }
    .aside-list {
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) {
    .card-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }
    .navbar-right > nav {
        width: 100%;
    }
}

@keyframes slide {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(100%);}
}
