@charset "UTF-8";

$wallpaper: url('../../public/_img/shelfbook.jpg');
$burgundy: #600;
$white:  hsl(0, 0%, 100%);
$grey-deep: #21211F;
$grey-smooth: hsl(0, 0%, 25%);
$translucid-grey: hsla(60, 3%, 13%, 0.8);
$framed-burgundy: 4px solid $burgundy;
$shadown-frame: 0px 0px 15px #000;
$radius-largest: 20px;

// NOVOS VALORES GLOBAIS
// Geral
$box-background-color: $grey-deep;
$footer-background-color: $grey-deep;
$navbar-background-color: $grey-deep;
$dropdown-item-hover-background-color: $burgundy;
$menu-item-color: $white;
$menu-item-hover-background-color: $burgundy;
$menu-item-active-background-color: $burgundy;
$menu-item-hover-color: $white;
$card-background-color: $burgundy;
$card-color: $white;
$mobile: 767px;
$tablet: 768px;

// Tabelas
$table-head-background-color: $burgundy;
$table-foot-background-color: $burgundy;

// Pagination
$pagination-color: $white;
$pagination-hover-color: $white;
$pagination-current-background-color: $burgundy;
$pagination-current-border-color: $burgundy;

// VALORES AUXILIARES
$zero: 0;
$webkit-fill: -webkit-fill-available;
$m-7: 4.5rem;
$m-8: 6rem;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/rbx/index.sass";

//Globals
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
body { background-image: $wallpaper; background-size: 100%; }
.icon { width: 8rem; margin: .5rem, 3rem; }
.footer { 
    bottom: $zero;
    width: $webkit-fill;
    padding: 3rem 1.5rem 1rem;
}
.title-footer {
    margin: 1rem 0;
}
.box-card {
    max-width: 18rem;
    margin: auto;
}
.mt-7 { margin-top: $m-7; }
.mb-7 { margin-bottom: $m-7; }
.mt-8 { margin-top: $m-8; }
.m-line { margin-inline: 2rem; }
.navbar-burger > span { pointer-events: none; }
.is-justify-content-center { justify-content: center; }
.is-scratched { text-decoration: line-through; }
.is-menu-logo { width: 8rem; margin: .5rem 3rem; }
.is-index-logo { width: 16rem; }
.is-translucid-grey { background: $translucid-grey; }
.showcase-image { max-height: 15rem; }
.card-title { min-height: 7rem; }
.card { width: 18rem; height: 32rem; }

.placeholder-image {
    width: 11rem;
    height: 15rem;
}
.placeholder-title {
    width: 13rem;
    height: 1.4rem;
}
.placeholder-subtitle {
    width: 10rem;
    height: 1.2rem;
}
.placeholder-price {
    width: 3.5rem;
    height: 1.3rem;
}
.placeholder-discount {
    width: 5rem;
    height: 1.75rem;
}
.placeholder-button {
    width: 6rem;
    height: 2.2rem;
    margin: 1rem 0;
    border-radius: .25rem;
}
.placeholder-title, 
.placeholder-subtitle, 
.placeholder-price, 
.placeholder-discount {
    margin: .1rem 0 !important;
}
.placeholder-color {
    position: relative;
    background-color: #400;
    overflow: hidden;
}
.placeholder-color::before {
    content: '';
    position: absolute;
    width: 100%;
	height: 110%;
    background-color: #fff;
    transform: translateX(-50%);
    animation: slide 1s infinite;
    background: linear-gradient(
        to right, 
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.2) 50%,
        rgba(128,186,232,0) 99%,
        rgba(125,185,232,0) 100%
        );
}

div.is-framed-burgundy {
    border: $framed-burgundy;
    border-radius: $radius-largest;
    box-shadow: $shadown-frame;
}
.is-framed-top-burgundy {
    border-top: $framed-burgundy;
    box-shadow: $shadown-frame;
}
.is-framed-bottom-burgundy {
    border-bottom: $framed-burgundy;
    box-shadow: $shadown-frame;
}
.is-framed-top-bottom-grey-smooth {
    border-top: 4px solid $grey-smooth;
    border-bottom: 4px solid $grey-smooth;
}
div.tile.is-child.box.is-clickable {
    border: 1px solid $grey-deep;
}
span.is-button-home {
    color: $burgundy;
	font-size: 26pt;
	font-family: Candara;
	font-weight: bold;
    text-shadow: none;
}
div.tile.is-child.box.is-clickable:hover {
    border: 1px solid $burgundy;
    box-shadow: 0px 0px 15px #F00;
    span.is-button-home {
        text-shadow: 0px 0px 5px #F00;
    }
}

thead, tfoot {
    tr > th {
        color: $white !important;
    }
}

.card-columns {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}

.home-columns {
    display: inline-flex;
    max-width: 100vw;
}
#asideMenu > .menu-list {
    display: block;
}

@media screen and (max-width: 1464px) {
    .home-columns {
        display: block;
    }
    #asideMenu > .menu-list {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1160px) {
    .card-columns {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        justify-content: center;
    }
}
@media screen and (max-width: 756px) {
    .card-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }
}

@keyframes slide {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(100%);}
}
